.page {
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    top: 110vh;
    left: 0;
    padding-left: var(--page-pad);
    padding-right: var(--page-pad);
    margin-top: 10em;
}

#gamepage {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
}


#main-content {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 35vw;
}



#cvl-board-div {
    align-content: center;
    width: 35vw;
}

.main-content-title {
    margin-top: 0;
}

.cvl-board-overlay {
    z-index: 5;
    position: absolute;
    display: flex;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #303030; */
    /* background-color: #505050; */
}

#logbox {
    flex-grow: 1;
    /* background-color: #202020; */
    background-color: #202020;
    overflow: scroll;
    max-height: 25vw;
}

#logbox-ul {
    padding: 0;
}

#logbox-ul * {
    text-decoration: none;
    list-style: none;
}

#logbox-ul li {
    padding-top: .35em;
    padding-bottom: .35em;
    padding-left: 1em;
    color: #C3C3C3;
    font-style: italic;
}

#fen-indicator {
    font-size: .8em;
    font-weight: 500;
    letter-spacing: .05em;
}

.log-alt {
    /* background-color: #222222; */
    /* background-color: #171717; */
    background-color: #191919;
}