.page {
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    top: 110vh;
    left: 0;
    padding-left: var(--page-pad);
    padding-right: var(--page-pad);
    margin-top: 10em;
}

#gamepage {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
}


#main-content {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 35vw;
}



#cvl-board-div {
    align-content: center;
    width: 35vw;
}

.main-content-title {
    margin-top: 0;
}

.cvl-board-overlay {
    z-index: 5;
    position: absolute;
    display: flex;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303030;
}

#logbox {
    flex-grow: 1;
    background-color: #202020;
    overflow: scroll;
    max-height: 25vw;
}

#logbox-ul * {
    text-decoration: none;
    list-style: none;
}