nav {
    position: fixed;
    top: 0;
    /* left: 0;
    right: 0; */
    left: var(--header-margin);
    right: var(--header-margin);
    z-index: 1000;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    /* width: 10hw; */
    width: 100;
    height: fit-content;
    /* background-color: black; */
    /* background: rgb(165,239,255);
    background: radial-gradient(circle, rgba(165,239,255,1) 0%, rgba(71,144,212,0.07) 77%, rgba(137,215,249,0.16) 100%);  */
    /* background: rgb(165,239,255, 0.01); */
    /* background: linear-gradient(91deg, rgba(165,239,255,.26) -150%, rgba(71,144,212,0.07) 77%, rgba(137,215,249,0.16) 100%);  */
    background: linear-gradient(91deg, rgba(165,239,255,.052) -150%, rgba(71,144,212,0.014) 77%, rgba(137,215,249,0.032) 100%); 
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(16px);
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-between;
    border-radius: 10px;
}
nav * {
    font-weight: 700;
    line-height: .25;
}

#nav-title {
    align-items: center;
    display: flex;
}

#logo {
    height: 1.75rem;
    align-items: center;
    padding-bottom: .25em;
}

#nav-title h3 {
    align-items: center;
    font-size: 1.75rem;
    /* flex-grow: 5; */
}

nav > ul {
    /* flex-grow: 1; */
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    font-size: 1.25rem;
    margin-left: 4em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

.nav-btn {
    padding: .25em;
}

.nav-btn:hover {
    color: #101010;
    background-color: white;
}